%div{:class => "form-box"}
  %h2{:style => "text-align: center;"} Create New Venue
  <br>
  = form_tag venues_path do

    = label :venue, :venue_name, 'Venue Name'
    = text_field :venue, :venue_name
    <br><br>
    = label :venue, :rating, 'Rating'
    = select :venue, :rating, [1, 2, 3, 4, 5]
    <br><br>
    = label :venue, :location, 'Location'
    = text_field :venue, :location
    <br><br>
    = label :venue, :description, 'Description'
    = text_field :venue, :description
    <br><br>
    = submit_tag 'Create Venue', :class => 'submit_button'
