-# in app/views/venues/show.html.haml

%h3 Details about #{@venue.venue_name}

%ul#details
  %li
    Hyperlink:
    = @venue.hyperlink
  %li
    Location:
    = @venue.location
  %li
    Person Added:
    = @venue.person_added
  %li
    County:
    = @venue.county
  %li
    P Type:
    = @venue.p_type
  %li
    J Type:
    = @venue.j_type
  %li
    Season:
    = @venue.season
   %li
    Notes:
    = @venue.notes

= link_to 'Edit', edit_venue_path(@venue)
= button_to 'Delete', venue_path(@venue), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
= link_to 'Back to venue list', venues_path
