-# in app/views/venues/show.html.haml

%h4 Details about
%h2{:style => "color:#235789;"} #{@venue.venue_name}
%p Rated #{@average.round(2)}/5 <br> Located in #{@venue.location}

%h4 Description

%p#description= @venue.description
<hr>
%h4 Reviews

= link_to 'Write a Review!', new_venue_review_path(venue_id: @venue)
<br>
<br>
- @reviews.each do |review|
    = review.stars
    Stars 
    <br>
    Review: "#{review.text}"
    <br>
    by: #{review.user.email}
    <br>
    Number of Votes: #{review.votes}
    = link_to "Upvote", review_upvote_path(@venue.id, review.id), :method => :post
    = link_to "Downvote", review_downvote_path(@venue.id, review.id), :method => :post
    <br><br>
<hr>

= link_to 'Delete Event', venue_path(@venue), :method => :delete, :confirm => 'Are you sure?', :class => 'link_button'
<br>
= link_to 'Edit Event', edit_venue_path(@venue), :class => 'link_button'
<br>
= link_to 'Back Home', venues_path, :class => 'link_button'
