-# in app/views/venues/show.html.haml

%h4 Details about
%h2{:style => "color:#235789;"} #{@venue.venue_name}
%p Rated #{@venue.rating}/5 <br> Located in #{@venue.location}

%h4 Description

%p#description= @venue.description

<br>
<hr>

= link_to 'Delete Event', venue_path(@venue), :method => :delete, :confirm => 'Are you sure?', :class => 'link_button'
<br>
= link_to 'Edit Event', edit_venue_path(@venue), :class => 'link_button'
<br>
= link_to 'Back Home', venues_path, :class => 'link_button'
