-# in app/views/venues/show.html.haml

%h3 Details about #{@venue.venue_name}

%ul#details
  %li
    Rating:
    = @venue.rating
  %li
    Location:
    = @venue.location

%h4 Description:

%p#description= @venue.description

= link_to 'Edit', edit_venue_path(@venue)
= button_to 'Delete', venue_path(@venue), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
= link_to 'Back to venue list', venues_path
