-# in app/views/venues/show.html.haml

%h4 Details about
%h2{:style => "color:#235789;"} #{@venue.venue_name}
%p Rated #{@venue.rating}/5 <br> Located in #{@venue.location}

%h4 Description

%p#description= @venue.description

= link_to 'Edit', edit_venue_path(@venue)
= button_to 'Delete', venue_path(@venue), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
= link_to 'Back to venue list', venues_path
