-# in app/views/venues/show.html.haml

%h4 Details about
%h2{:style => "color:#235789;"} #{@venue.venue_name}

%p Audience Inclusion Rating: #{@included_audience_stars_average == -1 ? "Not Rated. Add a Review!" : @included_audience_stars_average.round(2)}/5 <br>
%p Programming Representation Rating: #{@programming_representation_stars_average == -1 ? "Not Rated. Add a Review!" : @programming_representation_stars_average.round(2)}/5 <br>
%p Food Representation Rating: #{@food_representation_stars_average == -1 ? "Not Rated. Add a Review!" : @food_representation_stars_average.round(2)}/5 <br>
%p Personal Comfort Rating: #{@personal_comfort_stars_average == -1 ? "Not Rated. Add a Review!" : @personal_comfort_stars_average.round(2)}/5 <br>
%p Staff Rating: #{@staff_comfort_stars_average == -1 ? "Not Rated. Add a Review!" : @staff_comfort_stars_average.round(2)}/5 <br>
%p Cast Representation Rating: #{@cast_representation_stars_average == -1 ? "Not Rated. Add a Review!" : @cast_representation_stars_average.round(2)}/5 <br>
%p Whole Venue Rating: #{@whole_venue_stars_average == -1 ? "Not Rated. Add a Review!" : @whole_venue_stars_average.round(2)}/5 <br>
%p Show Overview Rating: #{@show_overview_stars_average == -1 ? "Not Rated. Add a Review!" : @show_overview_stars_average.round(2)}/5 <br>
<br>

- if @venue.location.present?
  Located in
- if @venue.county.present?
  #{@venue.county} County,
- if @venue.location.present?
  #{@venue.location}

%br
%br
%h4 Reviews

= link_to 'Write a Review!', new_venue_review_path(venue_id: @venue)
<br>
<br>
- if @venue.ptype.present? || @venue.jtype.present?
  This event has been categorized under
  - if @venue.ptype.present?
    #{@venue.ptype}
  - if @venue.jtype.present?
    , #{@venue.jtype}

%br
%br
%h4 External Links

= link_to @venue.link, @venue.link

<br><br>
%h4 Reviews
Sort Reviews: 
= form_tag venue_sort_path, method: :get do
  = select(:sort, :name, options_for_select(@affinities))
  = submit_tag 'Sort Reviews', :class => 'submit_button'

<br>
- @reviews.each do |review|
  Affinity:
  = review.affinity
  <br>

  1. Audience Inclusion Rating: 
  = review.included_audience_stars
  Star
  <br>
  Review: "#{review.included_audience_text}"
  <br>

  2. Programming Representation Rating: 
  = review.programming_representation_stars
  Star
  <br>
  Review: "#{review.programming_representation_text}"
  <br>

  3. Food Representation Rating: 
  = review.food_representation_stars
  Star
  <br>
  Review: "#{review.food_representation_text}"
  <br>

  4. Personal Comfort Rating: 
  = review.personal_comfort_stars
  Star
  <br>
  Review: "#{review.personal_comfort_text}"
  <br>

  5. Staff Rating: 
  = review.staff_comfort_stars
  Star
  <br>
  Review: "#{review.staff_comfort_text}"
  <br>

  6. Cast Representation Rating: 
  = review.cast_representation_stars
  Star
  <br>
  Review: "#{review.cast_representation_text}"
  <br>
  
  7. Whole Venue Rating: 
  = review.whole_venue_stars
  Star
  <br>
  Review: "#{review.whole_venue_text}"
  <br>

  8. Show Overview Rating: 
  = review.show_overview_stars
  Star
  <br>
  Review: "#{review.show_overview_text}"
  <br>

  by: #{review.user.email}
  <br>
  Number of Votes: #{review.votes}
  = link_to "Upvote", review_upvote_path(@venue.id, review.id), :method => :post
  = link_to "Downvote", review_downvote_path(@venue.id, review.id), :method => :post
  <br><br>
<hr>

= link_to 'Delete Event', venue_path(@venue), :method => :delete, :confirm => 'Are you sure?', :class => 'link_button'
<br>
= link_to 'Edit Event', edit_venue_path(@venue), :class => 'link_button'
<br>
= link_to 'Back Home', venues_path, :class => 'link_button'
