!!!
%html
  %head
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

    %title Night Out Night Off
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %body
      %div.container{:style => "width: 100%; position: relative; align: center;"}
        %img{:src => "/assets/bay-bridge-night.jpg", :style => "width: 100%; opacity: 85%;"}
        %div{:style => "position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);"}

          %h1.title{:style => "color: white;"} Night Out Night Off
        %div{:style => "position: absolute; top: 16px; right: 30px;"}
          = link_to 'Home', root_path, style: 'color:white;'
          &emsp;
          - if current_user
            = link_to 'Log Out', destroy_user_session_path, style: 'color:white;', :method => :delete
          - else
            = link_to 'Login', new_user_session_path, style: 'color:white;'
          &emsp;
          = link_to 'Sign Up', new_user_registration_path, style: 'color:white; border:1px; border-style:solid; border-color:white; padding: 0.5em;'
        %div{:style => "position: absolute; top: 16px; left: 30px;"}
      <br>

      %div.container
        #main
          - if flash[:notice]
            %div.alert.alert-danger
              #notice.message= flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-danger
              #warning.message= flash[:warning]

          = yield
